#menu_b {
  height: 48px;
  background-color: #f7e2d6;
  font-size: 16px;
}
#menu_b ul {
  width: 1000px;
  margin: 0 auto;
  padding: 14px 0 0 40px;
}
#menu_b li {
  display: inline;
  margin-left: 90px;
  color: white;
}
#menu_b a:link {
  color: white;
}
#menu_b a:hover {
  color: white;
}
#menu_b a:visited {
  color: white;
}
#menu_b a:active {
  color: white;
}
